@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  color: aliceblue;
  background-color: #222324;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  padding-left: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
  margin-bottom: 7rem;
  padding: 3.4rem 1.6rem;
}

.logo a {
  width: 100%;
  font-size: 2rem;
  color: aliceblue;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.logo a ion-icon {
  margin-right: 1rem;
  color: #2899ce;
}

.logo ion-icon {
  transition: all 0.3s ease-in-out;
  font-size: 2.8rem;
}

.nav-list {
  width: 100%;
}

.nav-list__item a {
  height: 6rem;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.8rem;
  color: aliceblue;
  padding-left: 1.6rem;
  transition: all 0.3s ease-in-out;
}

.nav-list__item a ion-icon {
  font-size: 2.8rem;
  margin-right: 1rem;
}

.nav-list__item a:hover {
  background-color: #222324;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.sonic {
  /* width: calc(100% - 30rem); */
  width: 100%;
  margin-left: 30rem;
  height: 100%;
  padding: 3rem;
}

.sonic h1 {
  font-size: 4.4rem;
  padding: 3rem 0;
}

@media (max-width: 1200px) {
  .sidebar {
    left: -100%;
  }
}
